<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container-fluid position-fixed">
    <div class="row">
        <div class="col-2 bg-dark" style="height: 100vh;position: fixed;">
            
            <div class="pt-4 pb-3 ps-3">
                <a href="/addcompanies" class="text-decoration-none">
                    <h1 class="text-white fs-6"><i class="fa-solid fa-company" style="color: #faf9f3;"></i> add Companies
                    </h1>
                </a>
            </div>
            <div class="pt-4 pb-3 ps-3">
                <a href="/viewcompanies" class="text-decoration-none">
                    <h1 class="text-white fs-6"><i class="fa-solid fa-company" style="color: #faf9f3;"></i> view Companies
                    </h1>
                </a>
            </div>
            <div class="pt-4 pb-3 ps-3">
                <a href="/viewregistration" class="text-decoration-none">
                    <h1 class="text-white fs-6"><i class="fa-solid fa-shop" style="color: #faf9f3;"></i>Registration
                    </h1>
                </a>
            </div>
            <div class="pt-4 pb-3 ps-3">
                <a href="/contactus" class="text-decoration-none">
                    <h1 class="text-white fs-6"><i class="fa-solid fa-shop" style="color: #faf9f3;"></i>Contact us</h1>
                </a>
            </div>
           
          

        </div>

    </div>
</div>