<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./common/header.ejs') %>
    <%- include('./common/footer.ejs') %>
    <h1>this one is my about page details</h1>
</body>
</html>